*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: black;
}
.Menu{
    display: flex;
    justify-content: space-around;
  
}
.Menu .logo img{
    width: 100px;
}
.Menu ul{
    margin-top:3%;
    list-style: none;
    text-decoration: none; 
   
}
.Menu ul li{
   display: inline;
   margin-left: 20px;
   color:gainsboro;
   transition: 1s;
}